<!DOCTYPE html>
<html>
  <head>
    <title>Remote Jobs</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  </head>
  <body style="margin-left:150px; margin-right:150px;">
    <h1 style="text-align: center;">Remote Jobs</h1>
    <h4 style="text-align: center;">{{length}} {{term}} jobs found.</h4>
    <h5 style="text-align: center;"><a href="/jobs.csv">Export to CSV</a></h5>
    <h6 style="text-align: center;"><a href="/">&#8592 Back to home</a></h6>
    <br>
    {% for job in job_list %}
      <h4>{{job[0]}}</h4>
      <h5>{{job[1]}}</h5>
      <h5><a href="{{job[2]}}" target="_blank">Apply</a></h5>
      <hr>
    {% endfor %}
  </body>
</html>